body{
	background-color: #DAC8B5;
	font-family: "Arial";
}

.header{
	width: 100%;
	text-align: center;
	background-color: #008047;
	color: #F8B8B8;
	height: 80px;
	padding: 4px;
}

.myself{
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

.wollies{
	position: relative;
	left: 900px;
	bottom: 240px;
}

.content{
	text-align: left;
	position: relative;
	bottom: 550px;
}

.Twitch{

}

.column1{
	text-align:left;
}

.column2{
	text-align:right;
}

h3, article,{
	color: F8B8B8;
}

h2, p, strong{
	color: green;
}

.footer{
	text-align: center;
}