body{
	background-color: #DAC8B5;
	font-family: "Arial";
}

.header{
	width: 100%;
	text-align: center;
	background-color: #008047;
	color: #F8B8B8;
	height: 80px;
	padding: 4px;
}

.Twitch{

}

.column1{
	text-align:left;
}

.column2{
	text-align:right;
}

h3, h2, article, p{
	color: F8B8B8;
}

.footer{
	text-align: center;
}