body
{	background-color: #b0c4de;
}

h1
{
	text-align:center;
}

body{
  margin: 20px;
  background: #eeeeee;
  font-size: large;
  font-family: Tahoma, Arial, “Trebuchet MS”, Helvetica, sans-serif;
  text-align: left;
}

#container{
  width: 75%;
  margin: auto;
  border: 1px solid #666;
  background: #ffffff;
}

#sidebar
{	color:blue; 
	position: relative;
	right: 512px; 
	height:500px; 
	width:100px;
	border: 1px solid #666;
	background: #ffffff;

}

#content
{	color:gray;
	position: relative;
	bottom: 25px;
	text-align: center;
}

#toast
{	position:relative;
	bottom: 450px;
}

#footer
{	color:red;
	border: 1px solid #666;
	padding: 50px;
	background: #ffffff;
	text-align:center;
	position:fixed;
	bottom: 0px;
	position: relative;
	
}